*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ********************* */
/* ***** Main  *********/
/* ********************* */
body{
  background-image: url(../record.png);
  background-size: auto;
}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background-color: #9e37f3;
  margin-top: 2rem;
}
header h1, header h2{
  color: #fff; 
}
header h1{
  font-size: 1.8rem;
}
header h2{
  font-size: 1.4rem;
}
main{
  padding: 1em 0;
  margin: 1em 0;
  background-color: #ced4da;
}
.description{
  color: #000;
}